/* Paleta de cores 
laranja #C85A00
ocre #EFF0B8
preto #2A2730*/

body{
    background-color: #C85A00 ;
    margin: 3px 0 3px 0;
}

header{
    margin: 7px;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-radius: 15px;
    height: 40px;
    align-items: center;
    background-color: white;
    margin-bottom:5px;
    border-style: groove;
    border-color: #EFF0B8;
}
header h1{
    color: #2A2730;
}
.container {
    display: flex;
    background-image:url(midias/Logo\ grade\ PB.png);
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-style:groove;
    border-color: #2A2730;}

.input{
    margin: 25px auto;
    width: 800px;
    border: none;
    text-align: start;
    display: flex;
    margin-top: 5px;
    font-size: 1.5em;
    flex-direction: column;
}
.input input{
    border-color: #C85A00;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 15px;
}

.botao{
    align-items: flex-end;
}
.botao button{
    margin-top: 7px;
    font-size: 1.5em;
    background-color: #C85A00;
    border-radius: 15px;
    color: #EFF0B8;
    font-size: 900;
    cursor: pointer;
}
.historico{
    text-align: center;
}
.historico h1{
    color: #2A2730;
    font-size: 1.7em;
    border-bottom-style:groove;
    border-color: #C85A00;
}